.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  width: 100%;
  background: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding-inline: 2rem;
  padding-block: 4rem;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}

form {
  width: 100%;
}

.form-group {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

input {
  display: block;
  border-radius: 4px;
  padding-inline: 20px;
  padding-block: 10px;
}

button {
  padding-block: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(57, 83, 212);
  border-radius: 4px;
  color: #FFFFFF;
  outline: none;
  border: none;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 380px;
  }
}

.mycomponent {
  width: 100%;
  height: 100vh;
  background-color: rgb(38, 118, 160);
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mycomponent h1 {
  font-size: 2rem;
  font-weight: 700;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
